<?php
return array(
    'doctrine' => array(
        'connection' => array(
            'orm_default' => array(
                'driverClass' => 'Doctrine\\DBAL\\Driver\\PDOMySql\\Driver',
                'params' => array(
                    'dbname' => 'zero_app',
                    'user' => 'root',
                    'password' => 'g0@',
                ),
            ),
        ),
    ),
    'zf-oauth2' => array(
        'storage' => 'ZF\\OAuth2\\Adapter\\PdoAdapter',
        'db' => array(
            'dsn_type' => 'PDO',
            'dsn' => 'mysql:host=localhost;dbname=zero_app;unixsocket=/var/run/mysqld/mysqld.sock',
            'username' => 'root',
            'password' => 'g0@',
        ),
    ),
);
