<?php
return array(
    'doctrine' => array(
        'connection' => array(
            'orm_default' => array(
                'driverClass' => 'Doctrine\\DBAL\\Driver\\PDOMySql\\Driver',
                'params' => array(
                    'dbname' => 'zero_app',
                    'user' => 'root',
                    'password' => 'g0@',
                ),
            ),
        ),
    ),
    'zf-oauth2' => array(
        'storage' => 'OAuth\\Adapter\\DoctrineAdapter',
        'object_manager' => 'doctrine.entitymanager.orm_default',
        'storage_settings' => array(
            'user' => 'Db\Entity\User',
            'client' => 'Db\Entity\Client'
        ),
        'db' => array(
            'dsn_type' => 'PDO',
            'dsn' => 'Doctrine',
        ),
    ),
);
